#EditPieceButton {
    background-color: forestgreen;
    border: 1px solid black;
    margin: 1px;
    width: 87px;
    text-align: center;
    padding: 5px;
}

.Monster {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .MonsterRow {
    display: flex;
    flex-direction: row;
  }
  