#EditPieceButton {
  background-color: darkgoldenrod;
  border: 1px solid black;
  margin: 1px;
  width: 87px;
  text-align: center;
  padding: 5px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

#EditPieceButton:hover {
  filter: brightness(80%);
}

#DeleteButton {
  background-color: rgba(155, 0, 0);
  border: 1px solid black;
  margin: 1px;
  width: 87px;
  text-align: center;
  padding: 5px;
}

#DeleteButton:hover {
  filter: brightness(80%);
}

.StockMonsters {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.CharacterSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Selector {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin: 2px;
}

.Selector:hover {
  filter: brightness(80%);
}

.row {
  display: flex;
}

.character {
  display: inline-flex;
  outline: 1px solid black;
}

.Highlight {
  outline: 2px solid red;
}

.MonsterSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}
