:root {
  --walkSprite: url("player_walk.png");
  --spriteSize: 40px;
}

.Player {
  position: absolute;
  background-image: var(--walkSprite);
  background-position: 0 0;
  width: var(--spriteSize);
  height: var(--spriteSize);
}
