.Terrain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TerrainRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.TileSelector {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 2px;
}

.TileSelector:hover {
  filter: brightness(80%);
}

.Highlight {
  outline: 2px solid red;
}

#EditMapButton {
  background-color: darkgoldenrod;
  border: 1px solid black;
  margin: auto;
  width: 87px;
  height: 26px;
  text-align: center;
  padding: 5px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

#EditMapButton:hover {
  filter: brightness(80%);
}
