.Terrain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TerrainRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Selector {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 2px;
}

.Selector:hover {
  filter: brightness(80%);
}

.Highlight {
  outline: 2px solid red;
}

#EditMapButton {
  background-color: darkgoldenrod;
  border: 1px solid black;
  margin: auto;
  width: 87px;
  text-align: center;
  padding: 5px;
}

#EditMapButton:hover {
  filter: brightness(80%);
}