@import "../World/World.css";

.ControlPanel {
  height: 90vh;
  width: 15%;
  background-color: grey;
  position: relative;
  margin-right: 20px;
  right: 0;
  margin-top: 20px;
}

.MainControl {
  border: 2px solid saddlebrown;
  display: flex;
  flex-direction: column;
  height: 20vh;
  overflow: scroll scroll;
}

#MainControlButton {
  background-color: darkgoldenrod;
  border: 1px solid black;
  margin: 1px;
  width: 85px;
  text-align: center;
  padding: 5px;
}

#MainControlPlay {
  background-color: forestgreen;
  border: 1px solid black;
  margin: 1px auto 2px auto;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

#MainControlButton:hover {
  filter: brightness(80%);
}

#MainControlPlay:hover {
  filter: brightness(80%);
}

.World,
.ControlPanel {
  max-width: 100%;
}
