@import "../World/World.css";

.ControlPanel {
  height: var(--mapHeight);
  width: 200px;
  background-color: grey;
  margin: 20px auto 20px 10px;
  display: flex;
  flex-direction: column;
}

.MainControl {
  border: 2px solid saddlebrown;
  display: flex;
  flex-direction: column;
}

#MainControlButton {
  background-color: darkgoldenrod;
  border: 1px solid black;
  margin: 1px;
  width: 85px;
  text-align: center;
  padding: 5px;
}

#MainControlPlay {
  background-color: forestgreen;
  border: 1px solid black;
  margin: 1px auto 2px auto;
  text-align: center;
  width: 174px;
  padding: 5px;
  text-transform: uppercase;
}

#MainControlButton:hover {
  filter: brightness(80%);
}

#MainControlPlay:hover {
  filter: brightness(80%);
}
