@import "../World/World.css";

.ControlPanel {
  height: var(--mapHeight);
  width: 200px;
  background-color: grey;
  margin: 20px auto 20px 10px;
  display: flex;
  flex-direction: column;
}

#MainControl {
  background-color: forestgreen;
  border: 1px solid black;
  margin: 1px;
  width: 98px;
  text-align: center;
  padding: 5px;
}

#MainControlPlay {
  background-color: forestgreen;
  border: 1px solid black;
  margin: 1px;
  text-align: center;
  width:198px;
  padding: 5px;
  text-transform: uppercase;
}

#MainControl:hover {
  filter: brightness(80%);
}

#MainControlPlay:hover {
  filter: brightness(80%);
}