:root{
    --grassColor: rgb(41, 145, 41);
}

.Map {
    position: relative;
    width: 1000px;
    height: 600px;
    border: 4px solid white;
    top: 0px;
    left: 0px;
}

.row {
    display: flex;
}

.tile {
    display: inline-flex;
    background-color: var(--grassColor);
    border: 1px solid black
}

.grass {
    background-color: var(--grassColor);
}

.rock {
    background-image: url('/tiles/rock.png');
}

.tree {
    background-image: url('/tiles/tree.png');
}

.chest {
    background-image: url('/tiles/chest.png');
}