:root {
  --grassColor: rgb(41, 145, 41);
}

.Map {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  left: 0px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.MapTileWrapper {
  height: 60px;
}

.MapTileWrapperHover {
  filter: brightness(50%);
}

.row {
  display: flex;
}

.tile {
  display: inline-flex;
  background-color: var(--grassColor);
  outline: 1px solid black;
}

.grass {
  background-color: var(--grassColor);
}

.water {
  background-image: url("/tiles/water.png");
}

.dirt {
  background-image: url("/tiles/dirt.png");
}

.city {
  background-image: url("/tiles/city.png");
}

.jungle {
  background-image: url("/tiles/jungle.png");
}

.chest {
  background-image: url("/tiles/chest.png");
}

.campfire {
  background-image: url("/tiles/campfire.png");
}

.rock {
  background-image: url("/tiles/rock.png");
}

.tree {
  background-image: url("/tiles/tree.png");
}

.wall {
  background-image: url("/tiles/wall.png");
}

.none {
  background-color: black;
}
