.VariablePanel {
    margin: 2px;
    border: 4px solid burlywood;
    justify-content: center;
    flex: 1;
    overflow-y:scroll;
  }
  
  .Terrain{
    display: flex;
    flex-direction: column;
  }
  
  .TerrainRow {
    display: flex;
    flex-direction: row;
  }

  .Monster{
    display: flex;
    flex-direction: column;
  }

  .MonsterRow {
    display: flex;
    flex-direction: row;
  }